<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Chat</h1>
  <div id="users"></div>
  <div class="chat-box"></div>

  <form action="" id="chat-form" class="chat-form">
    <input type="text" class="chat-field">
    <input type="submit" value="Send">
  </form>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
