<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    html, body {
      font-family: "Helvetica Neue", Arial, sans-serif;
    }

    .chat-box {
      box-sizing: border-box;
      height: 300px;
      overflow-y: scroll;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 6px;
    }

    .message {
      font-size: 14px;
      display: block;
      padding: 10px;
      border-radius: 6px;
      margin: 5px;
      background: #eee;
    }
  </style>
</head>
<body>
  <h1>Chat</h1>
  <div id="chatters"></div>
  <div class="chat-box"></div>
  <form action="" id="chat-form" class="chat-form">
    <input type="text" class="chat-field">
    <input type="submit" value="Send">
  </form>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    var server = io.connect('//localhost:' + <%= port %>);

    server.on('connect', function(data) {
      nickname = prompt("What is your nickname?");
      server.emit('join', nickname);
    });

    server.on('add chatter', function(name) {
      var chatter = '<span class="chatter" data-name="' + name + '">' + name + '</span>';
      $('#chatters').append(chatter);
    });

    server.on('remove chatter', function(name) {
      $('.chatter[data-name=' + name + ']').remove();
    });

    var insertMessage = function(data) {
      var html = '<div class="message">' + data + '</div>';
      $('.chat-box').append(html);
    };

    $('.chat-form').submit(function(e) {
      e.preventDefault();
      var message = $(this).find('.chat-field').val();
      server.emit('messages', message);
    });

    server.on('messages', function(data) {
      insertMessage(data);
    });
  </script>
</body>
</html>
